@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 6% 10%;
    --foreground: 0 0% 80%;
    --card: 240 6% 12%;
    --card-foreground: 0 0% 96%;
    --popover: 240 6% 10%;
    --popover-foreground: 0 0% 96%;
    --primary: 0 0% 96%;
    --primary-foreground: 240 6% 10%;
    --secondary: 240 6% 18%;
    --secondary-foreground: 0 0% 96%;
    --muted: 240 6% 18%;
    --muted-foreground: 0 0% 60%;
    --accent: 240 6% 22%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 50.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 15%;
    --input: 240 6% 15%;
    --ring: 0 0% 80%;
    --chart-1: 0 0% 70%;
    --chart-2: 0 0% 60%;
    --chart-3: 0 0% 50%;
    --chart-4: 0 0% 40%;
    --chart-5: 0 0% 30%;
    --sidebar-background: 240 6% 10%;
    --sidebar-foreground: 0 0% 96%;
    --sidebar-primary: 0 0% 96%;
    --sidebar-primary-foreground: 240 6% 10%;
    --sidebar-accent: 240 6% 18%;
    --sidebar-accent-foreground: 0 0% 96%;
    --sidebar-border: 240 6% 15%;
    --sidebar-ring: 0 0% 96%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
    .live-indicator {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #ef4444;
    }
}
